In [8]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.model_selection import train_test_split

In [9]:
dataset = pd.read_csv("data/clean_dataset.csv")

In [10]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35544 entries, 0 to 35543
Data columns (total 9 columns):
Unnamed: 0         35544 non-null int64
UPDATE_TIME        35544 non-null int64
ZONE_CODE          35544 non-null int64
HOUR_ID            35544 non-null int64
BANDWIDTH_TOTAL    35544 non-null float64
MAX_USER           35544 non-null float64
DATE_IN_MONTH      35544 non-null int64
DATE_IN_WEEK       35544 non-null int64
DAY_SHIFT          35544 non-null int64
dtypes: float64(2), int64(7)
memory usage: 2.4 MB

In [11]:
dataset.head(10)

,Unnamed: 0,UPDATE_TIME,ZONE_CODE,HOUR_ID,BANDWIDTH_TOTAL,MAX_USER,DATE_IN_MONTH,DATE_IN_WEEK,DAY_SHIFT
0,0,1506816000,1,0,16096.710313,212415.0,1,6,0
1,1,1506816000,1,1,9374.207907,166362.0,1,6,0
2,2,1506816000,1,2,5606.225750,146370.0,1,6,0
3,3,1506816000,1,3,4155.654661,141270.0,1,6,0
4,4,1506816000,1,4,3253.978594,139689.0,1,6,0
5,5,1506816000,1,5,4310.774522,165342.0,1,6,0
6,6,1506816000,1,6,10015.599874,221901.0,1,6,0
7,7,1506816000,1,7,19780.995631,302736.0,1,6,0
8,8,1506816000,1,8,24344.875025,336600.0,1,6,1
9,9,1506816000,1,9,28651.427689,356235.0,1,6,1

In [12]:
dataset.corr()

,Unnamed: 0,UPDATE_TIME,ZONE_CODE,HOUR_ID,BANDWIDTH_TOTAL,MAX_USER,DATE_IN_MONTH,DATE_IN_WEEK,DAY_SHIFT
Unnamed: 0,1.000000,0.999740,0.032327,0.002138,0.233774,0.154339,-0.007666,0.004118,0.001711
UPDATE_TIME,0.999740,1.000000,0.032960,0.001460,0.233044,0.154116,-0.006745,0.004290,0.001073
ZONE_CODE,0.032327,0.032960,1.000000,0.000041,-0.611186,-0.755793,0.008337,-0.001165,0.000036
HOUR_ID,0.002138,0.001460,0.000041,1.000000,0.313592,0.181726,-0.000790,0.000046,0.943551
BANDWIDTH_TOTAL,0.233774,0.233044,-0.611186,0.313592,1.000000,0.925587,0.003470,0.035023,0.309379
MAX_USER,0.154339,0.154116,-0.755793,0.181726,0.925587,1.000000,0.008498,0.002566,0.183248
DATE_IN_MONTH,-0.007666,-0.006745,0.008337,-0.000790,0.003470,0.008498,1.000000,-0.017459,-0.000486
DATE_IN_WEEK,0.004118,0.004290,-0.001165,0.000046,0.035023,0.002566,-0.017459,1.000000,-0.000120
DAY_SHIFT,0.001711,0.001073,0.000036,0.943551,0.309379,0.183248,-0.000486,-0.000120,1.000000

In [13]:
#data = dataset[['DATE_IN_MONTH', 'ZONE_CODE', 'HOUR_ID']]
data = dataset[['ZONE_CODE', 'HOUR_ID', 'DATE_IN_WEEK', 'DAY_SHIFT', "DATE_IN_MONTH"]]
bandwidth_total = dataset.BANDWIDTH_TOTAL
max_user = dataset.MAX_USER

In [14]:
x_train_bandwidth, x_test_bandwidth, y_train_bandwidth, y_test_bandwidth = train_test_split(data, bandwidth_total,test_size=0.3)
x_train_max_user, x_test_max_user, y_train_max_user, y_test_max_user = train_test_split(data, max_user,test_size=0.3)

In [15]:
from sklearn import datasets, linear_model
import sklearn.svm as svm
from sklearn.metrics import mean_squared_error, r2_score
svm_bandwidth = svm.SVR(kernel='poly')
svm_bandwidth .fit(x_train_bandwidth, y_train_bandwidth)
y_pred_bandwidth = svm_bandwidth .predict(x_test_bandwidth)
#y_pred_aaabandwidth = np.absolute(y_pred_bandwidth)

/home/dat-tran/.local/lib/python3.6/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [16]:
brandwidth_real_pred = pd.DataFrame({'y_test_brandwidth': y_test_bandwidth, 
                                     'y_pred_bandwidth': y_pred_bandwidth})

In [17]:
brandwidth_real_pred.head(10)

       y_test_brandwidth  y_pred_bandwidth
28600        4853.935848       6323.558958
30185        5171.894851       8676.198376
387          3191.397665       5410.114997
22717         499.328955       5713.844266
6931         1689.179508       9013.980454
11519        1282.930107       8351.042285
33855        8129.288159       4049.441160
34400       40556.022918       9854.873583
30074       36754.750970       6378.582536
10762       27528.308395      41484.262300

In [18]:
print("Bandwidth Mean squared error: %f"% mean_squared_error(y_test_bandwidth, y_pred_bandwidth))
print("Bandwidth Score: %f"% r2_score(y_test_bandwidth,y_pred_bandwidth))
print("Bandwidth Score: %f"% svm_bandwidth.score(x_test_bandwidth, y_test_bandwidth))

Bandwidth Mean squared error: 320457100.286169
Bandwidth Score: 0.420531
Bandwidth Score: 0.420531

In [19]:
maxUser_linearReg = linear_model.LinearRegression()
maxUser_linearReg  = maxUser_linearReg .fit(x_train_max_user, y_train_max_user)
y_pred_maxUser = maxUser_linearReg .predict(x_test_max_user)
y_pred_maxUser = np.round(np.absolute(y_pred_maxUser))

In [20]:
maxUser_real_pred = pd.DataFrame({'y_pred_maxUser': y_pred_maxUser, 'y_test_max_user': y_test_max_user})
maxUser_real_pred.head()

       y_pred_maxUser  y_test_max_user
9396         508905.0         505359.0
34883         30100.0          49266.0
12224        223084.0          56814.0
12704        471268.0         445995.0
27997        404717.0         322065.0

In [21]:
print("MaxUser Mean squared error: %f"% mean_squared_error(y_pred_maxUser, y_test_max_user))
print("MaxUser Score: %f"% r2_score(y_test_max_user, y_pred_maxUser))
print("MaxUser Score: %f"% maxUser_linearReg.score(x_test_max_user, y_test_max_user))

MaxUser Mean squared error: 26612629602.772507
MaxUser Score: 0.627462
MaxUser Score: 0.604315