In [1]:
import pandas as pd
import numpy as np
%config IPCompleter.greedy=True

### Requirement
We have the dataset **billboard.csv**. This dataset is present the rank of a song from week 1 to  week 75. Here is step need to done:

Read dataset
1. Identify the issue of dataset
2. Standard the dataset base on issue #2
3. Create a pivot table to group by country and year

In [2]:
dataset = pd.read_csv("data/billboard.csv", encoding="mac_latin2")

In [3]:
dataset.head()

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### The issue of this dataset
* The week values are in column
* There are many NULL values in week

In [4]:
new_dataset = pd.melt(frame=dataset, id_vars=["year","artist.inverted", "track","time","genre", "date.entered", "date.peaked"], 
                      var_name="week", value_name="rank")

In [5]:
new_dataset.head()

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,x1st.week,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,x1st.week,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,x1st.week,71.0
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,x1st.week,41.0
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,x1st.week,57.0

In [6]:
new_dataset.week = new_dataset.week.str.extract(r'(\d)').astype(int)
new_dataset = new_dataset.dropna()

In [7]:
new_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5307 entries, 0 to 20334
Data columns (total 9 columns):
year               5307 non-null int64
artist.inverted    5307 non-null object
track              5307 non-null object
time               5307 non-null object
genre              5307 non-null object
date.entered       5307 non-null object
date.peaked        5307 non-null object
week               5307 non-null int64
rank               5307 non-null float64
dtypes: float64(1), int64(2), object(6)
memory usage: 414.6+ KB

In [8]:
new_dataset.head()

,year,artist.inverted,track,time,genre,date.entered,date.peaked,week,rank
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,1,78.0
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,1,15.0
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,1,71.0
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,1,41.0
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,1,57.0

In [9]:
song = new_dataset[["year","artist.inverted", "track", "time", "genre"]]

In [10]:
song = song.drop_duplicates()
song.reset_index(drop = True)
song['id'] = song.index

In [11]:
song.head()

,year,artist.inverted,track,time,genre,id
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,0
1,2000,Santana,"Maria, Maria",4:18,Rock,1
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,2
3,2000,Madonna,Music,3:45,Rock,3
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,4